body {
  background: #222;
  color: #eee;
}

.game-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background: #333;
}

#game-canvas {
  border-radius: 10px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.5);
  margin: auto;
  display: inline-block;
  vertical-align: top;
  image-rendering: crisp-edges;
}

.scoreboard {
  margin-top: 3px;
  width: 100%;
  height: fit-content;
  background: #eee;
  color: #222;
  text-align: center;
}

.scores-header {
  padding: 10px;
  font-size: 15pt;
  border-bottom: 1px solid #222;
}

table {
  width: 300px;
  height: fit-content;
}

table thead th {
  width: 100%;
  padding: 15px;
}
table tbody td {
  width: 100%;
  padding: 5px;
}

#score-info {
  font-size: 20px;
}